<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="altiProfilAdmin" name="altiProfilAdmin" createdate="2020-08-12">
        <version date="2024-09-11">0.4.3</version>
        <label lang="en_US">altiProfilAdmin</label>
        <description lang="en_US" />
        <license URL="https://spdx.org/licenses/GPL-3.0-or-later.html">GNU GPLv3</license>
        <copyright>2020-2023 3liz</copyright>
        <creator name="3liz" email="info@3liz.com" active="true"/>
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined" active="true" since="" role=""/>-->
        <homepageURL>https://3liz.com</homepageURL>
    </info>
    <dependencies>
        <module name="lizmap" minversion="3.4.0" maxversion="3.7.*"/>
    </dependencies>
</module>
