#mapmenu li.altiProfil #button-altiProfil span.icon{
  background-image: url(../img/noun_altitude.png);
}

#mapmenu li.altiProfil.active #button-altiProfil span.icon{
  background-image: url(../img/noun_altitude_click.png);
  background-position: 0 0;
}

:is(#mini-dock, #dock, #right-dock) .altiProfil h3 .icon{
    background-image: url(../img/noun_altitude_click.png);
    background-position: 0 0;
}

#nav-tab-altiProfil a::before{
  content: " ";
  display: inline-block;
  background-image: url(../img/noun_altitude_click.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  vertical-align: text-bottom;
}

#altiProfil {
    width: 500px;
    height: 100%;
    z-index: 100000;
    color: #333;
    overflow: auto;
    max-height: calc(100% - 10px);
    max-width: calc(100% - 10px);
}

:is(#mini-dock, #dock, #right-dock) #altiProfil .menu-content #profil-chart .spinner{
    display: inline-block;
    width: 80px;
    height: 80px;
}

:is(#mini-dock, #dock, #right-dock) #altiProfil .menu-content #profil-chart .spinner{
    content: " ";
    display: block;
    width: 34px;
    height: 34px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #474747 transparent #474747 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}



