[altiProfil]
altisource=Source des données

;si cas database
;altiProfileProvider=database
altiProfileTable=dem_table
srid=3957
; profilUnit = PERCENT or DEGREES - choix de l'unité de calcul du profil
profilUnit=PERCENT
; dock panel = dock or minidock or rightdock
dock=dock

;si cas IGN
altiProfileProvider=ign
ignServiceKey=essentiels
ignServiceUrl="https://data.geopf.fr/altimetrie/1.0/calcul"
