<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="altiProfil" name="altiProfil" createdate="2020-03-12">
        <version date="2024-09-11">0.4.3</version>
        <label lang="en_US">altiProfil</label>
        <description lang="en_US" />
        <license URL="https://spdx.org/licenses/GPL-3.0-or-later.html">GNU GPLv3</license>
        <copyright>GEOLAB</copyright>
        <creator name="arnaud Vandecasteele" email="arnaud [dot] vdc [at] geolab [dot] re" />
        <contributor name="3Liz" email="info@3liz.com"/>
        <homepageURL>http://geolab.re</homepageURL>
    </info>
    <dependencies>
        <module name="lizmap" minversion="3.4.0" maxversion="3.7.*" />
    </dependencies>
    <autoload>
        <namespacePathMap name="AltiProfil" dir="lib/"/>
    </autoload>
</module>
