<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="altiProfil" name="altiProfil" createdate="2020-03-12">
        <version date="2021-04-09">0.2.2</version>
        <label lang="en_US">altiProfil</label>
        <description lang="en_US" />
        <license URL="https://spdx.org/licenses/GPL-3.0-or-later.html">GNU GPLv3</license>
        <copyright>GEOLAB</copyright>
        <creator name="arnaud Vandecasteele" email="arnaud [dot] vdc [at] geolab [dot] re" />
        <homepageURL>http://geolab.re</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.6.27-pre" maxversion="1.6.*"/>
        <module name="lizmap" />
    </dependencies>
</module>
